@use 'generale/header';
@use 'generale/footer';

$main_color: #28b8d6;
$primary_color: #e34720;
$seconday_color: #e09a07;
$color_3: #64ed21;
$color_4: #8d21ed;

* {
  padding: 0;
  margin: 0;

  font: 18px 'Helvetica';

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }

  @media screen and (max-width: 575px) {
    font-size: 14px;
  }
}

.page-content {
  padding-top: 8vh;
}

a {
  text-decoration: none;
  color: inherit;
}
