@use 'generale/header';
@use 'generale/footer';

* {
  padding: 0;
  margin: 0;

  font: 18px 'Helvetica';

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }

  @media screen and (max-width: 575px) {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

dl,
ol,
ul {
  margin-bottom: inherit;
  padding-left: inherit;
}

p {
  margin-bottom: inherit;
}

.page-content {
  padding-top: 8vh;

  .watermark {
    display: none;

    @media print {
      display: block;
      position: fixed;
      margin: 50vh;
      font-size: 32px;
      opacity: 0.65;
    }
  }

  @media print {
    padding-top: 1vh;
  }
}

a,
a[href] {
  text-decoration: none;
  color: inherit;
}

.bold {
  font-weight: bold;
}
