#page-header {
  z-index: 1;
  position: fixed;
  background-color: #000;
  color: #fff;
  width: 100%;

  // Desktop
  .nav {
    .toggle-menu {
      display: none;
      font-size: 32px;
      margin: 9px 15px;

      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    .nav-list {
      display: flex;
      list-style-type: none;
      width: 25vw;
      padding: 0;

      li.first-child {
        position: relative;
        margin-right: 25px;
        padding: 15px;
        text-shadow: 1px -50px 2px;
        transition: text-shadow 0.7s;

        &:hover {
          background: #727072;
          text-shadow: 1px 1px 2px;
          transition: text-shadow 0.7s;
        }

        ul {
          position: absolute;
          padding-left: 0;
          list-style-type: none;
          display: none;
          background-color: #000;
          left: 0;
          top: 50px;
          width: max-content;
          height: max-content;

          li {
            padding: 7px 10px;
            text-shadow: none;
            background: #72707200;
            transition: background 1s;

            &:hover {
              text-decoration: underline;
              background: #727072;
              transition: background 1s;
            }
          }

          @media screen and (max-width: 768px) {
            top: 48px;
          }
        }

        &:hover ul {
          display: block;
          animation-name: animatie_dropdown;
          animation-iteration-count: 1;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          animation-timing-function: linear;
          transform-origin: 50% 0;

          @keyframes animatie_dropdown {
            0% {
              opacity: 0;
              transform: scaleY(0);
            }
            100% {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
      }

      li.first-child.home-tab {
        .home-text {
          display: block;
        }

        .home-icon {
          display: none;
        }

        @media screen and (max-width: 768px) {
          .home-text {
            display: none;
          }

          .home-icon {
            display: block;
          }
        }
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  // Mobile
  #toggle-menu-input:checked {
    + .nav {
      display: flex;
      flex-direction: column-reverse;

      .nav-list {
        display: block;
        width: 100vw;

        li.first-child {
          text-shadow: none;
          text-align: center;
          margin-right: 0;

          .selector {
            padding-bottom: 10px;
          }

          animation-name: animatie_dropdown;
          animation-iteration-count: 1;
          animation-duration: 0.3s;
          animation-fill-mode: forwards;
          animation-timing-function: linear;
          transform-origin: 50% 0;

          @keyframes animatie_dropdown {
            0% {
              opacity: 0;
              transform: scaleX(0);
            }
            100% {
              opacity: 1;
              transform: scaleX(1);
            }
          }

          &:hover {
            padding: 15px 0 0 0;
            margin-bottom: 15px;
            z-index: 3;
          }

          &:not(:hover) {
            z-index: 2;
          }

          ul {
            position: absolute;
            background: #000;
            z-index: 1;
          }

          &:hover ul {
            display: block;
            width: 100%;
            margin: 0;
            padding-bottom: 10px;
            animation-name: animatie_dropdown;
            animation-iteration-count: 1;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
            transform-origin: 50% 0;

            @keyframes animatie_dropdown {
              0% {
                opacity: 0;
                transform: scaleY(0);
              }
              100% {
                opacity: 1;
                transform: scaleY(1);
              }
            }
          }
        }
      }
    }
  }
}
