@use 'generale';
@use 'header';
@use 'topLink';

#page-content {
  display: grid;
  padding-top: 8vh;
  grid-template-areas:
    'prezentare prezentare prezentare'
    'evenimente orar anunturi'
    'sponsori sponsori sponsori'
    'legends legends legends'
    'informatii-site utilizatori-online informatii-utilizator';

  #prezentare {
    grid-area: prezentare;

    .image-click {
      position: relative;
      z-index: -1;
    }
  }

  #orar {
    grid-area: orar;
  }

  #evenimente {
    grid-area: evenimente;
  }

  #anunturi {
    grid-area: anunturi;
  }

  #utilizatori-online {
    grid-area: utilizatori-online;
  }

  #informatii-utilizator {
    grid-area: informatii-utilizator;
  }

  #informatii-site {
    grid-area: informatii-site;
  }

  #sponsori {
    grid-area: sponsori;
  }

  #legends {
    grid-area: legends;
    margin: 50px 0;

    .iframe-container {
      display: flex;
      flex-direction: column;
      width: fit-content;

      .toggle-buttons {
        z-index: 1;
        margin-top: 5px;
        text-align: right;
        margin-right: 2px;

        .toggle-btn {
          border: 2px solid #00000030;
          padding: 5px;
          border-radius: 0 0 15px 15px;
          background: #00000030;
          box-shadow: inset 0px 1px 8px 2px #00000030;
          transition-duration: 0.7s;
          transition-property: box-shadow, background;

          &:hover {
            background: #fff;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-areas:
      'prezentare prezentare prezentare'
      'evenimente evenimente evenimente'
      'orar orar orar'
      'anunturi anunturi anunturi'
      'sponsori sponsori sponsori'
      'legends legends legends'
      'informatii-site informatii-site informatii-site'
      'utilizatori-online utilizatori-online utilizatori-online'
      'informatii-utilizator informatii-utilizator informatii-utilizator';
  }
}
