@use 'generale';
@use 'variables';

#acasa {
  display: grid;
  grid-template-areas:
    'prezentare prezentare prezentare'
    'evenimente orar anunturi'
    'sponsori sponsori sponsori'
    'legends legends legends'
    'informatii-site utilizatori-online informatii-utilizator';

  #prezentare {
    grid-area: prezentare;

    .page-title {
      margin: 20px 0 50px;

      @media print {
        text-align: center;
        text-decoration: underline;
        font-size: 2.5rem;
        page-break-after: always;
      }
    }

    .image-click {
      position: relative;
      z-index: -1;
    }

    @media print {
      width: 80%;
      margin: 0 auto;
      border: 1px solid #000;
    }
  }

  #orar {
    grid-area: orar;

    table#tab-orar {
      $s: 2px;
      border-spacing: $s;

      tbody {
        @for $i from 1 through 4 {
          tr:nth-child(#{$i}) {
            @if $i % 2 == 0 {
              background: variables.$main_color;
            } @else {
              background: variables.$primary_color;
            }
          }
        }

        tr {
          &:hover {
            background: variables.$seconday_color;
            transition: background 0.3s;
          }
        }
      }

      &,
      td,
      th {
        border: 1px solid variables.$color_4;
      }

      th,
      td {
        padding: 10px 25px 10px 10px;
      }

      caption {
        margin-top: 15px;
      }

      @media screen and (max-width: 575px) {
        border-spacing: 0;
      }
    }

    @media screen and (max-width: 768px) {
      overflow-x: scroll;
    }
  }

  #evenimente {
    grid-area: evenimente;
  }

  #anunturi {
    grid-area: anunturi;
  }

  #utilizatori-online {
    grid-area: utilizatori-online;
  }

  #informatii-utilizator {
    grid-area: informatii-utilizator;
  }

  #informatii-site {
    grid-area: informatii-site;
  }

  #sponsori {
    grid-area: sponsori;
  }

  #legends {
    grid-area: legends;
    margin: 50px 0;

    .iframe-container {
      display: flex;
      flex-direction: column;
      width: fit-content;

      .toggle-buttons {
        z-index: 1;
        margin-top: 5px;
        text-align: right;
        margin-right: 2px;

        .toggle-btn {
          border: 2px solid #00000030;
          padding: 5px;
          border-radius: 0 0 15px 15px;
          background: #00000030;
          box-shadow: inset 0px 1px 8px 2px #00000030;
          transition-duration: 0.7s;
          transition-property: box-shadow, background;

          &:hover {
            background: #fff;
          }
        }
      }
    }

    @media print {
      display: none;
    }
  }

  @media print {
    img,
    video,
    iframe,
    figure {
      display: none;
    }

    grid-template-areas:
      'prezentare prezentare prezentare'
      'evenimente evenimente evenimente'
      'orar orar orar'
      'anunturi anunturi anunturi'
      'sponsori sponsori sponsori'
      'legends legends legends'
      'informatii-site informatii-site informatii-site'
      'utilizatori-online utilizatori-online utilizatori-online'
      'informatii-utilizator informatii-utilizator informatii-utilizator';
  }

  @media screen and (max-width: 768px) {
    grid-template-areas:
      'prezentare prezentare prezentare'
      'evenimente evenimente evenimente'
      'orar orar orar'
      'anunturi anunturi anunturi'
      'sponsori sponsori sponsori'
      'legends legends legends'
      'informatii-site informatii-site informatii-site'
      'utilizatori-online utilizatori-online utilizatori-online'
      'informatii-utilizator informatii-utilizator informatii-utilizator';
  }
}

.goTop-link {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 15px;
  border-radius: 25px;
  border-left: 2px solid gray;
  border-right: 2px solid gray;

  .goTop {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid gray;
    opacity: 0.5;
    transition: all 1s;
    transition-property: border-bottom, transform, opacity;
    transform: translateY(0);

    &:hover {
      transition: all 1s;
      transition-property: border-bottom, transform, opacity;
      transform: translateY(-70%);
      border-bottom: 10px solid yellow;
      opacity: 1;
    }
  }

  @media print {
    display: none;
  }
}
