<%- include('../fragmente/header') %>

<main id="error-403-page" class="page-content">
  <%- include('../fragmente/watermark') %>
  
  <div class="master-container">
    <img src="/img/403-forbidden.png" alt="">
    <h1>Oops, 403! Din pacate nu ai acces in aceasta zona, staff only!</h1>

    <p>Poti vorbi cu cineva sa te ajute sa cauti ce doresti in schimb 😄</p>
  </div>
</main>

<%- include('../fragmente/footer') %>