<%- include('../fragmente/header') %>

<main id="404-page" class="page-content">
  <div class="master-container">
    <img src="/img/404-skateboard.png" alt="">
  </div>
</main>

<%- include('../fragmente/footer') %>