<%- include('../fragmente/header') %>

<main id="inregistrare-page" class="page-content container">
  <%- include('../fragmente/watermark') %>

  <section class="details">
    <h1>Contul a fost validat, acum puteti sa va conectati.</h1>
  </section>
</main>

<%- include('../fragmente/footer') %>
