<%- include('../fragmente/header') %>

<main id="acasa" class="page-content">
  <section id="prezentare" class="latest">
    <h2>Latest Product</h2>
    <a class="image-click" href="img/skateboard-enuff-icon-pink.jpg">
      <figure>
        <picture>
          <!-- phone -->
          <source srcset="img/skateboard-enuff-icon-pink-phone.jpg" media="(max-width: 575px)" />
          <!-- tablet -->
          <source srcset="img/skateboard-enuff-icon-pink-tablet.jpg" media="(max-width: 992px)" />
          <!-- desktop -->
          <img src="img/skateboard-enuff-icon-pink.jpg" alt="skateboard-enuff" />
        </picture>
        <figcaption>Skateboard-ul Enuff Icon</figcaption>
      </figure>
    </a>
  </section>

  <section id="orar">
    <h2>Orar</h2>
    <table id="tab-orar">
      <thead>
        <tr>
          <th>Cod</th>
          <th>Perioadă</th>
          <th>Zi</th>
          <th>Interval dimineata</th>
          <th>Pauza de masa</th>
          <th>Interval seară</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td rowspan="5">Zile<br />Lucrătoare</td>
          <td>Luni</td>
          <td>10-12</td>
          <td>12-14</td>
          <td>14-20</td>
        </tr>
        <tr>
          <td></td>

          <td>Marti</td>
          <td>9-12</td>
          <td>12-14</td>
          <td>14-21</td>
        </tr>
        <tr>
          <td></td>

          <td>Miercuri</td>
          <td>9-11</td>
          <td>11-13</td>
          <td>14-21</td>
        </tr>
        <tr>
          <td></td>

          <td>Joi</td>
          <td>9-11</td>
          <td>11-13</td>
          <td>14-21</td>
        </tr>
        <tr>
          <td></td>

          <td>Vineri</td>
          <td>9-12</td>
          <td>12-14</td>
          <td>14-19</td>
        </tr>
        <tr>
          <td></td>
          <td rowspan="2">Weekend</td>
          <td>Sambata</td>
          <td>10-12</td>
          <td>12-13</td>
          <td>13-16</td>
        </tr>
        <tr>
          <td></td>
          <td>Duminica</td>
          <td>10-14</td>
          <td>-</td>
          <td>inchis</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="evenimente">
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, cumque possimus ipsum unde optio ex quod sunt eos nemo, odio totam voluptatibus. Nihil minus animi laboriosam. Impedit in quod at. </span>
  </section>

  <section id="anunturi">
    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores voluptatem illo velit reprehenderit. Reiciendis, culpa omnis. Quod voluptates culpa quos saepe eligendi veritatis repudiandae hic quis, quam nulla pariatur molestiae?</span>
  </section>

  <section id="utilizatori-online">
    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores voluptatem illo velit reprehenderit. Reiciendis, culpa omnis. Quod voluptates culpa quos saepe eligendi veritatis repudiandae hic quis, quam nulla pariatur molestiae?</span>
  </section>

  <section id="informatii-utilizator">
    <span>IP-ul tau curent este: <%= locals.ip %></span>
  </section>

  <section id="informatii-site">
    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores voluptatem illo velit reprehenderit. Reiciendis, culpa omnis. Quod voluptates culpa quos saepe eligendi veritatis repudiandae hic quis, quam nulla pariatur molestiae?</span>
    <!-- <h2>About <abbr title="Bardita Mihai Andrei">BMA</abbr>Skates</h2>

    <p>BMASkates comes from the CEO-Founder of the shop, Bardita Mihai Andrei. It is an abbreviation. We here go by the quote <q>When nothing is true, everything is permitted</q> and we think that this summarizes what skating actually mean. Being true to your cause, to your passions and when there are lies, then there needs to be justice. The <b>rebel soul</b> takes <b>action</b>. Come to the shop and find out what <strong>your</strong> young soul's all about</p>

    <p>Inspiration: <a href="https://www.skates.ro/" target="_blank">Skates RO</a>.</p>
    <p>All about skateboards, longboards & pennyboards. Yes, we even have protective gear & helmets.</p> -->
  </section>

  <section id="sponsori">
    <h2>Sponsors</h2>
    <p>Our skateboards, longboards & pennyboards sponsors</p>

    <section class="skate">
      <h3>Skates sponsors</h3>

      <ul class="sponsors-list">
        <li class="sponsor">ABC SKates</li>
        <li class="sponsor">DEF SkaTes</li>
        <li class="sponsor">SkAtES S.R.L</li>
      </ul>
    </section>

    <section class="roller-skate">
      <h3>Roller skates sponsors</h3>

      <ol class="sponsors-list">
        <li class="sponsor">Roller skates 4KIDS</li>
        <li class="sponsor">Roll 'em UP</li>
        <li class="sponsor">Wheel it</li>
      </ol>
    </section>

    <section class="snowboard">
      <h3>Snowboard sponsors</h3>

      <p class="sponsor">SnowWhite INC.</p>
      <p class="sponsor">Alps Winn.</p>
      <p class="sponsor">Whiteboards</p>
    </section>
  </section>

  <section id="legends">
    <h2>A few of the iconic legends of skateboarding</h2>

    <div class="iframe-container">
      <iframe name="legend-skaters" width="560" height="315" src="https://www.youtube.com/embed/OOg-4mtA3Zo" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="toggle-buttons">
        <a class="toggle-btn" href="https://www.youtube.com/embed/OOg-4mtA3Zo" target="legend-skaters">Tony Hawk</a>
        <a class="toggle-btn" href="https://www.youtube.com/embed/ChWchYqNNJQ" target="legend-skaters">Rodney Mullen</a>
      </div>
    </div>
  </section>
</main>

<%- include('../fragmente/footer') %>