<%- include('../fragmente/header') %>

<main id="login-page" class="page-content container">
  <%- include('../fragmente/watermark') %>

  <%- include('../fragmente/formular', { action: '/login' }) %>
</main>

<%- include('../fragmente/footer', { hasJSfile: true, JSfiles: ['formular'] }) %>
