<%- include('../fragmente/header') %>

<main id="login-page" class="page-content container">
  <%- include('../fragmente/watermark') %>

  <h1>Salut! Site-ul este inca in lucru</h1>
</main>

<%- include('../fragmente/footer', { hasJSfile: true, JSfiles: ['formular'] }) %>
