<%- include('../fragmente/header') %>

<main id="profile-page" class="page-content container">
  <%- include('../fragmente/watermark') %>

  <%- include('../fragmente/formular', { action: '/profil' }) %>
</main>

<%- include('../fragmente/footer', { hasJSfile: true, JSfiles: ['formular'] }) %>
