<%- include('../fragmente/header') %>

<main id="terms-condition-page" class="page-content container">
  <%- include('../fragmente/watermark') %>

  <h1 style="font-size: 45px; text-align: center;">Termeni si conditii</h1>
  <p style="font-size: 26px; text-align: center;">Ceva pagina pentru care n-am mai avut inspiratie</p>
</main>

<%- include('../fragmente/footer', { hasJSfile: true, JSfiles: ['formular'] }) %>