    <footer id="page-footer">
      <div id="phone-address">
        Phone: <a href="tel:0777888999">0777888999</a><br />
        Address: <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83+-+Universitatea+din+Bucure%C8%99ti/@44.4355355,26.0995867,15z/data=!4m2!3m1!1s0x0:0x493984726f0235f9?sa=X&ved=2ahUKEwj0w7Tbiuz2AhUYPOwKHdOkCbwQ_BJ6BAg2EAU">Street Academiei 14, Bucuresti 010014</a><br />
      </div>
      <div id="mail-whatsapp">
        Mail: <a href="mailto:test@test.com">Test mail</a><br />
        Whatsapp: <a href="https://wa.me/0763841007" target="_blank">Click here to open chat</a>
      </div>
      <div id="backTop-copyright">
        <a href="#homepage">Back to Top</a><br />
        <small>&copy; BMASkates <time datetime="2022-03-14 22:55">29 Martie 2022</time>.</small>
      </div>
    </footer>

    <% if(locals.hasJSfile) { %>
      <!-- la fel ca la css in head -->
      <% 
        if(locals.JSfiles?.length) {
          for(let file of locals.JSfiles) { 
          %>
          <script src="/js/<%= file %>.js"></script>
          <% } 
        } else { %>
          <script src="/js/<%= locals.page.slice(1) %>.js"></script>
        <% 
        } 
      %>
    <% } %>
  </body>
</html>