* {
  padding: 0;
  margin: 0;
  font: 18px "Helvetica";
}
@media screen and (max-width: 768px) {
  * {
    font-size: 16px;
  }
}
@media screen and (max-width: 575px) {
  * {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

#page-header {
  z-index: 1;
  position: fixed;
  background-color: #000;
  color: #fff;
  width: 100%;
}
#page-header .nav .toggle-menu {
  display: none;
  font-size: 32px;
  margin: 9px 15px;
}
@media screen and (max-width: 768px) {
  #page-header .nav .toggle-menu {
    display: block;
  }
}
#page-header .nav .nav-list {
  display: flex;
  list-style-type: none;
  width: 25vw;
  padding: 0;
}
#page-header .nav .nav-list li.first-child {
  position: relative;
  margin-right: 25px;
  padding: 15px;
  text-shadow: 1px -50px 2px;
  transition: text-shadow 0.7s;
}
#page-header .nav .nav-list li.first-child:hover {
  background: #727072;
  text-shadow: 1px 1px 2px;
  transition: text-shadow 0.7s;
}
#page-header .nav .nav-list li.first-child ul {
  position: absolute;
  padding-left: 0;
  list-style-type: none;
  display: none;
  background-color: #000;
  left: 0;
  top: 50px;
  width: max-content;
  height: max-content;
}
#page-header .nav .nav-list li.first-child ul li {
  padding: 7px 10px;
  text-shadow: none;
  background: rgba(114, 112, 114, 0);
  transition: background 1s;
}
#page-header .nav .nav-list li.first-child ul li:hover {
  text-decoration: underline;
  background: #727072;
  transition: background 1s;
}
@media screen and (max-width: 768px) {
  #page-header .nav .nav-list li.first-child ul {
    top: 48px;
  }
}
#page-header .nav .nav-list li.first-child:hover ul {
  display: block;
  animation-name: animatie_dropdown;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  transform-origin: 50% 0;
}
@keyframes animatie_dropdown {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
#page-header .nav .nav-list li.first-child.home-tab .home-text {
  display: block;
}
#page-header .nav .nav-list li.first-child.home-tab .home-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  #page-header .nav .nav-list li.first-child.home-tab .home-text {
    display: none;
  }
  #page-header .nav .nav-list li.first-child.home-tab .home-icon {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  #page-header .nav .nav-list {
    display: none;
  }
}
#page-header #toggle-menu-input:checked + .nav {
  display: flex;
  flex-direction: column-reverse;
}
#page-header #toggle-menu-input:checked + .nav .nav-list {
  display: block;
  width: 100vw;
}
#page-header #toggle-menu-input:checked + .nav .nav-list li.first-child {
  text-shadow: none;
  text-align: center;
  margin-right: 0;
  animation-name: animatie_dropdown;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  transform-origin: 50% 0;
}
#page-header #toggle-menu-input:checked + .nav .nav-list li.first-child .selector {
  padding-bottom: 10px;
}
@keyframes animatie_dropdown {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
#page-header #toggle-menu-input:checked + .nav .nav-list li.first-child:hover {
  padding: 15px 0 0 0;
  margin-bottom: 15px;
  z-index: 3;
}
#page-header #toggle-menu-input:checked + .nav .nav-list li.first-child:not(:hover) {
  z-index: 2;
}
#page-header #toggle-menu-input:checked + .nav .nav-list li.first-child ul {
  position: absolute;
  background: #000;
  z-index: 1;
}
#page-header #toggle-menu-input:checked + .nav .nav-list li.first-child:hover ul {
  display: block;
  width: 100%;
  margin: 0;
  padding-bottom: 10px;
  animation-name: animatie_dropdown;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  transform-origin: 50% 0;
}
@keyframes animatie_dropdown {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

.goTop-link {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 15px;
  border-radius: 25px;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}
.goTop-link .goTop {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid gray;
  opacity: 0.5;
  transition: all 1s;
  transition-property: border-bottom, transform, opacity;
  transform: translateY(0);
}
.goTop-link .goTop:hover {
  transition: all 1s;
  transition-property: border-bottom, transform, opacity;
  transform: translateY(-70%);
  border-bottom: 10px solid yellow;
  opacity: 1;
}

#page-content {
  display: grid;
  padding-top: 8vh;
  grid-template-areas: "prezentare prezentare prezentare" "evenimente orar anunturi" "sponsori sponsori sponsori" "legends legends legends" "informatii-site utilizatori-online informatii-utilizator";
}
#page-content #prezentare {
  grid-area: prezentare;
}
#page-content #prezentare .image-click {
  position: relative;
  z-index: -1;
}
#page-content #orar {
  grid-area: orar;
}
#page-content #evenimente {
  grid-area: evenimente;
}
#page-content #anunturi {
  grid-area: anunturi;
}
#page-content #utilizatori-online {
  grid-area: utilizatori-online;
}
#page-content #informatii-utilizator {
  grid-area: informatii-utilizator;
}
#page-content #informatii-site {
  grid-area: informatii-site;
}
#page-content #sponsori {
  grid-area: sponsori;
}
#page-content #legends {
  grid-area: legends;
  margin: 50px 0;
}
#page-content #legends .iframe-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
#page-content #legends .iframe-container .toggle-buttons {
  z-index: 1;
  margin-top: 5px;
  text-align: right;
  margin-right: 2px;
}
#page-content #legends .iframe-container .toggle-buttons .toggle-btn {
  border: 2px solid rgba(0, 0, 0, 0.1882352941);
  padding: 5px;
  border-radius: 0 0 15px 15px;
  background: rgba(0, 0, 0, 0.1882352941);
  box-shadow: inset 0px 1px 8px 2px rgba(0, 0, 0, 0.1882352941);
  transition-duration: 0.7s;
  transition-property: box-shadow, background;
}
#page-content #legends .iframe-container .toggle-buttons .toggle-btn:hover {
  background: #fff;
}
@media screen and (max-width: 768px) {
  #page-content {
    grid-template-areas: "prezentare prezentare prezentare" "evenimente evenimente evenimente" "orar orar orar" "anunturi anunturi anunturi" "sponsori sponsori sponsori" "legends legends legends" "informatii-site informatii-site informatii-site" "utilizatori-online utilizatori-online utilizatori-online" "informatii-utilizator informatii-utilizator informatii-utilizator";
  }
}

/*# sourceMappingURL=index.css.map */
